#wrapper header {
  padding: .5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  background-color: #8db4c8;
}

#wrapper header ul a {
  color: white;
  border: solid 1px #8db4c8;
}

#wrapper header ul a:hover {
  color: white;
  border: solid 1px white;
}

#wrapper main .container table td span {
  cursor: pointer;
}

#wrapper main .container table td .btn-delete {
  color:red;  
}

#wrapper main .container table th:last-child{
  width: 100px;
}

#wrapper main .container table td:last-child,
#wrapper main .container table th:last-child
{
  text-align: center;
}


/* component modal #dialog */
.component-dialog.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;  
  background-color: rgba(0, 0, 0, 0.4);
}

.component-dialog .modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.component-dialog .close {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.component-dialog .close:hover,
.component-dialog .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.component-dialog .modal-header {
  border-bottom: none;
  
  padding: 2px 16px;  
  color: white;
}

.component-dialog .modal-body {
  padding: 2px 16px;  
  text-align: center;
}

.component-dialog .modal-footer {
  padding: 2px 16px;  
  color: white;
  border-top: none;
  justify-content: center;
}


/*****************************************
 Componente Toastr
 *****************************************/
#toastr {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toastr.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#toastr.show.primary {
    background-color: rgb(42, 92, 231);
}

#toastr.show.secondary {
    background-color: rgb(61, 42, 231);
}

#toastr.show.danger {
    background-color: rgb(204, 29, 29);
}

#toastr.show.success {
    background-color: rgb(55, 131, 48);
}

#toastr.show.warning {
    background-color: rgb(235, 131, 34);
}

@keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
  
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
  
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
  
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
  
    to {
      bottom: 0;
      opacity: 0;
    }
  }