#wrapper header {
  padding: .5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  background-color: #8db4c8;
}

#wrapper header ul a {
  color: white;
  border: solid 1px #8db4c8;
}

#wrapper header ul a:hover {
  color: white;
  border: solid 1px white;
}

#wrapper main .container table td span {
  cursor: pointer;
}

#wrapper main .container table td .btn-delete {
  color:red;  
}

#wrapper main .container table th:last-child{
  width: 100px;
}

#wrapper main .container table td:last-child,
#wrapper main .container table th:last-child
{
  text-align: center;
}
